*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
  font-size: 15px;
}

.template{
  display: none;
}
/* WRAPPER */
.wrapper{
  height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(217, 217, 217);
}
/* ICONE */
.fas, .far, .fab{
  color: grey;
  font-size: 25px;
}
/*SFONDO VERDE WRAPPER */
.sfondo-verde{
  height: 20%;
  width: 100%;
  background-color: rgb(5, 163, 97);
  position: absolute;
  top: 0;
  left;
}
/* CONTAINER */
.container{
  height: 90%;
  width: 80%;
  margin: auto;
  z-index: 1;
}
/* COLONNE CONTATTI - CHAT */
.colonna-contatti{
  float: left;
  height: 100%;
  width: 30%;
  background-color: white;
}
.colonna-chat{
  float: right;
  height: 100%;
  width: 70%;
}
.navbar{
  height: 80px;
  width: 100%;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content:flex-start;
  align-items:center;
  padding-left: 15px;
}
.toolbar{
  display: flex;
  margin-left: auto;
}
.toolbar p{
  padding: 0px 10px;
}
.nome-accesso{
  padding-left: 20px;
}
/* NOTIFICA AZZURRA */
.attiva-notifiche{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: rgb(183, 209, 247);
}
.fa-bell-slash{
  padding: 10px;
  color: rgb(183, 209, 247);
  border-radius: 50%;
  background-color: white
}
.icona-attiva-notifiche{
  height: 60%;
  width: 30%;
  display: flex;
  justify-content:center;
  align-items:center;
}
.lista-attiva-notifiche{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  height: 60%;
  width: 70%;
  margin-right: 60px;
}
.lista-attiva-notifiche ul li{
  padding-top: 5px;
  list-style-type: none;
  text-align: center;
}
#underline-notifiche{
  text-decoration: underline;
  color: grey;
}
/* CERCA CONTATTO */
.cerca-contatto{
  height: 50px;
  width: 100%;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: space-around;
  align-items: center
}
#cerca{
  outline: none;
  border: none;
  height: 70%;
  width: 80%;
  border-radius: 5px;
  text-decoration: none;
}
/* RUBRICA */
.rubrica{
  height: calc(100% - 230px);
  overflow: auto;
}
.scheda{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.foto-contatto{
  height: 80%;
  width: 20%;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
}
.nome-contatto{
  padding-left: 20px;
}
.utente{
  font-weight: bolder;
}
/* CONTATTO CARD */
.contatto-lista, .contatto-chat{
  height: 80%;
}

/* REGOLE GENERALI IMG */
img{
  height: 100%;
  border-radius: 50%;
}
/* BARRA-MESSAGGIO */
.barra-chat{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(235, 235, 221);
}
#input-messaggio{
  outline: none;
  border: none;
  height: 80%;
  width: 80%;
  border-radius: 5px;
  text-decoration: none;
}
#click-messaggio{
  cursor: pointer;
}
/* CHAT UTENTE / COMPUTER */
.contenitore-messaggio{
  background-image: url("img/mine.jpg");
  height: calc(100% - 130px);
  border-right: 15px solid white;
  overflow: auto;
  padding: 40px 90px;
}
.finestra-chat{
  width: 100%;
  height: 100%;
  display: none;
}
.finestra-chat .messaggio{
  min-width: 100px;
  max-width: 60%;
  display: inline-block;
  margin: 10px 0px;
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  clear: both;
}
.finestra-chat .messaggio.ricevuto{
  background-color: white;
  float: left;
}
.finestra-chat .messaggio.inviato{
  background-color: rgb(187, 251, 152);
  float: right;
}
.messaggio .ora-messaggio{
  position: absolute;
  bottom: 2px;
  right: 35px;
  font-size: 10px;
  color: grey;
}
.freccia{
  display: none;
  position: absolute;
  top: 3px;
  right: 10px;
  color: #b1b1b1;
  cursor: pointer;
}
/* CHECK */
.pr{
  padding-right: 5px;
}
.check_message{
  display: block;
  position: absolute;
  bottom: 0px;
  right: 2px;
}
.check_message i {
  font-size: 12px;
  margin: 0;
}

.spunta{
  color: rgb(26, 139, 222);
}
/* FINE CHECK */
.messaggio:hover .freccia{
  display: block;
}
.freccia i{
  font-size: 12px;
}
/* DROPDOWN */
.dropdown{
  position: absolute;
  text-decoration: none;
  margin: 41px -11px;
  background-color: white;
  padding: 12px 4px;
  width: 150px;
  border-radius: 8px;
  display: none;
  z-index: 1;
}
.dropdown li{
  list-style-type: none;
  text-align: left;
  padding-bottom: 8px;
}
.dropdown li a{
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
.accesso-nome{
  font-weight: bold;
}
  /* CLASSE ACTIVE */
.active{
  display: block;
}
